# Python cache
__pycache__/
*.pyc

# RocksDB runtime state
data/streamforge_state/
# Faust / RocksDB runtime state
streamforge-faust-data/
streamforge-faust-worker-*-data/
# Virtual environment / test cache
.venv/
.pytest_cache/

# Frontend dependencies
frontend/node_modules/